.content {
	width: 100%;
}

section.index-section {
	width: 96%;
	margin: 2% auto;
}

.index {
	display:flex;
	flex-wrap: wrap;
}

.index .profile {
	border-radius: 5px;
	box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.13);
	position: relative;
	margin: 2%;
	width: 21%;
	height: auto;
	overflow: hidden;
}

.index .profile .label {
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: var(--h5);
	background-color: rgba(0,0,0,0.15);
	padding: 5px 4px 3px 2px;
	letter-spacing: 0;
}

.index .profile img {
	width: 100%;
}

.index .profile.active img {
	box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.13);
}

.attack {
	background-color: rgb(220, 70, 50);
}
.score {
	background-color: rgb(120, 70, 180);
}
.defense {
	background-color: rgb(180, 240, 80);
}
.etc {
	background-color: rgb(30, 130, 230);
}

.index .detail {
	border-radius: 5px;
	width: 96%;
	margin: 2% auto;
	padding: 0 4%;
	background-color: var(--main-blue);
	box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.13);
}

.detail .title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 4.5%;
	margin-bottom: 4%;
	
}

.title .name-label {
	font-size: var(--h3);
}
.title .type-label {
	font-size: var(--h5);
}

.detail .effect {
	margin-top: 4.5%;
	font-size: var(--h5);
	line-height: var(--h3);
}

.detail .spec-table {
	margin-top: 4.5%;
	border-radius: 5px;
	width: 100%;
	font-size: var(--h5);
	line-height: var(--h2);
	overflow: hidden;
}

.detail .spec-table th {
	text-align: center;
	padding: 0.7rem;
	background-color: var(--dark-blue);
}

.detail .spec-table td {
	text-align: center;
	padding: 0.5rem;
	vertical-align: middle;
}

.detail .spec-table td:first-child {
	width: 20%;
	background-color: rgba(0,0,0,0.2);
}

.detail .spec-table td:last-child {
	width: 80%;
	background-color: rgba(0,0,0,0.1);
}

.detail .spec-table tr:nth-child(odd) {
	background-color: var(--light-blue);
}

.detail .spec-table tr:nth-child(even) {
	background-color: var(--main-blue);
}

.detail .link {
	margin-top: 3%;
	margin-bottom: 2.5%;
	font-size: var(--h5);
	text-align: right;
}

.link a {
	border-radius: 10px;
}
