/*.content {
	width:%;
}*/

section.index-section {
	width: 96%;
	margin: 2% auto;
}

.index {
	display:flex;
	flex-wrap: wrap;
}

.index .profile {
	border-radius: 5px;
	box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.13);
	position: relative;
	margin: 2%;
	width: 21%;
	height: auto;
	overflow: hidden;
}

.index .profile .label {
	width: 100%;
	text-align: center;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: var(--h5);
	background-color: rgba(0,0,0,0.6);
	padding-top: 4px;
	padding-bottom: 4px;
	border-radius: 1px;
}

.index .profile img {
	width: 100%;
}

.index .profile.active img {
	box-shadow: inset 0px 0px 5px 2px rgba(0, 0, 0, 0.13);
}

.attacker {
	background-color: rgb(220, 70, 50);
}
.all-rounder {
	background-color: rgb(120, 70, 180);
}
.defender {
	background-color: rgb(180, 240, 80);
}
.speedster {
	background-color: rgb(30, 130, 230);
}
.supporter {
	background-color: rgb(250, 190, 50);
}

.index .detail {
	border-radius: 5px;
	width: 96%;
	margin: 2% auto;
	padding: 0 4%;
	background-color: var(--main-blue);
	box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.13);
}

.detail .title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 4.5%;
	margin-bottom: 4%;
}

.detail .title .name-label {
	font-size: var(--h3);
	font-weight: 600;
}
.detail .title .type-label {
	font-size: var(--h5);
}

.detail .build {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.detail .build li {
	text-align: center;
	margin-top: 4.5%;
	width: 21%;
}

.detail .build li p {
	text-align: center;
	display: block;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	width: 100%;
	margin-top: 1rem;
	word-break: keep-all;
	font-size: var(--h6);
}

.index .detail img {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 50%;
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.13);
}

.detail .link {
	margin: 6% auto 4%;
	font-size: var(--h5);
	text-align: right;
}
