.content .index {
	padding:2%;
	width: 100%;
	display:flex;
	flex-wrap: wrap;
	margin: 2% auto;
}

.content .index .profile {
	border-radius: 5px;
	box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.13);
	position: relative;
	margin: 2%;
	width: 21%;
	height: auto;
	overflow: hidden;
}

.content .index .profile .label {
	position: absolute;
	left: 0;
	bottom: 0;
	font-size: var(--h5);
	background-color: rgba(0,0,0,0.6);
	padding: 5px 4px 3px 2px;
	letter-spacing: 0;
}

.content .index img {
	width: 100%;
}

.attacker {
	background-color: rgb(220, 70, 50);
}
.all-rounder {
	background-color: rgb(120, 70, 180);
}
.defender {
	background-color: rgb(180, 240, 80);
}
.speedster {
	background-color: rgb(30, 130, 230);
}
.supporter {
	background-color: rgb(250, 190, 50);
}

.content .index .detail {
	border-radius: 5px;
	width: 96%;
	margin: 2% auto;
	background-color: var(--main-blue);
	box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.13);
}

.detail .content {
	padding: 0 4%;
	width: 100%;
}

.detail .title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 4.5% 0 4%;
	
}

.title .name-label {
	font-size: var(--h3);
}
.title .type-label {
	font-size: var(--h5);
}

.detail .content .build {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
	/*margin: 4% 0 0;*/
	/*background-color: red;*/
}

.detail .content .item {
	text-align: center;
	margin-top: 4%;
	/*margin: 8% 2.5% 0 2.5%;*/
	width: 20.1%;
}

.detail .content .item p {
	margin-top: 1rem;
	font-size: var(--h5);
	letter-spacing: 0;
}

.content .index .detail img {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 50%;
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.13);
}

.detail .content .link {
	margin: 3% 0 2.5%;
	font-size: var(--h5);
	text-align: right;
}
