.wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

/* 헤더 영역 */

/* 상단 광고 영역 */
.ad_box {
	display: flex;
	flex-flow: column;
	align-items: center;
}

/* 메인 영역 */
main {
	display: flex;
	/*justify-content: center;*/
	flex-direction: column;
	align-items: center;
	width: 100%;
	max-width: 650px;
}

/* 캐릭터 정보 영역 */
section.info_section {
	width: 80%;
}

.character_image {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: auto;
	max-width: 400px;
	padding: 10%;
}

.character_image img {
	width: 100%;
}

.name_box {
	border-radius: 5px;
	display: flex;
	background-color: var(--orange);
}

.name_box .character_name {
	position: relative;
	width: 75%;
	background-color: var(--black);
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
	padding: 1rem;
}

.name_box .character_name:after {
	position: absolute;
	content: '';
	top: 0;
	right: 0;
	width: 0;
	height: 0;
	border-left: 1.5rem solid transparent;
	border-bottom: 3.5rem solid var(--orange);
}

.name_box .character_name h2 {
	font-size: var(--h2);
	font-weight: bold;
	letter-spacing: 1px;
}

.name_box .difficulty {
	margin: auto;
	color: black;
}

.attribute_list {
	width: 100%;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2%;
	margin-bottom: 2%;
}

.attribute {
	width: 32%;
	border-radius: 5px;
	box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.13);
	background-color: var(--main-blue);
	text-align: center;
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: var(--h3);
	letter-spacing: 1px;
}

.ability_box {
	border-radius: 5px;
	box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.13);
	padding: 4%;
	background-color: var(--main-blue);
}

.ability {
	margin-bottom: 1.5rem;
	overflow: hidden;
}

.ability:last-child {
	margin-bottom: 0;
}

.ability_title {
	font-size: var(--h5);
}

.ability_title span {
	float: right;
}

.ability_gauge {
	margin-top: 0.5rem;
	background-color: var(--gauge);
}

.ability_gauge .active_gauge {
	background-color: var(--gauge-green);
	color: transparent;
	border-radius: 0 10px 10px 0;
}

.evolution_box {
	margin-top: 5%;
	margin-bottom: 5%;
	display: flex;
	justify-content: space-around;
}

.evolution {
	width: 40%;
	text-align: center;
}

.evolution img {
	width: 100%;
	min-width: 100px;
	min-height: 100px;
	border-radius: 50%;
	background-color: var(--main-blue);
}

.evolution_name {
	margin-top: 1rem;
	font-weight: bold;
	font-size: var(--h4);
}

.evolution_desc {
	margin-top: 0.5rem;
	font-size: var(--h5);
	color: var(--sky-blue);
}

/* 빌드 영역 */
section.build_section {
	border-radius: 5px;
	width: 90%;
	background-color: var(--main-blue);
	/*padding: 2%;*/
	/*position: relative;*/
	overflow:hidden;
}
/* 탭 제목 div*/
.tab_menu {
	display: flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
}

.tab_title {
	width: 100%;
	padding-top: 1rem;
	padding-bottom: 1rem;
	text-align: center;
	background-color: var(--main-blue);
	/*cursor: pointer;*/
}

.tab_title.active {
	background-color: var(--light-blue);
}

.tab_content {
	/*background-color: red;*/
	padding-left: 2%;
	padding-right: 2%;
	padding-bottom: 2%;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	width: 100%;
}

.tab_content.active {
	display: flex;
}

.tab_content li {
	text-align: center;
	margin-top: 4.5%;
	width: 21%;
}

.tab_content li img {
	width: 100%;
	background-color: rgba(0, 0, 0, 0.9);
	border-radius: 50%;
	box-shadow: 0px 0px 9px 0px rgba(0, 0, 0, 0.13);
}

.tab input:checked ~ label {
	background-color: var(--main-blue);
}

.tab input:checked ~ .tab_content {
	display: flex;
}

/* 스킬 영역 */
section.skill_section {
	position: relative;
	width: 90%;
	/*margin: 35px 0;*/
}

.skill {
	margin-top: 4%;
	margin-bottom: 4%;
	padding: 4%;
	background-color: var(--main-blue);
	border-radius: 5px;
	box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.13);
}

.skill_top {
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.skill_img {
	width: 75px;
	height: 75px;
	border-radius: 50%;
	overflow: hidden;
}

.skill_title {
	margin-left: 4%;
}

.skill_name {
	font-size: var(--h2);
	font-weight: bold;
	/*margin-bottom: 12px;*/
}

.skill_summary {
	margin-top: 0.5rem;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}
.skill_summary li {
	display:flex;
	/*position: relative;*/
	padding: 5px;
	align-items: center;
	border-radius: 100px;
	background-color: var(--light-blue);
	font-size: var(--h5);
	margin-right: 10px;
}
.skill_summary li:last-child {
	margin-right: 0;
}

.skill_summary li .skill-type {
	width: 20px;
	height: 20px;
	margin-right: 5px;
	background-color: var(--white);
	border-radius: 50%;
}

/*.skill_summary li:after {
	content: '';
	position: absolute;
	left: 4px;
	top: 4px;
	width: 12px;
	height: 12px;
	background-color: var(--white);
	border-radius: 50%;
}*/

.skill_content {
	margin-top: 4%;
	line-height: var(--h3);
	font-size: var(--h5);
}
