@font-face {
	font-family: 'GmarketSans';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansBold.woff') format('woff');
	font-weight: 700;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSans';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GmarketSans';
	src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
	font-weight: 300;
	font-style: normal;
}

:root {
	/* color */
	--black: #000000;
	--white: #ffffff;
	--orange: #ee9343;
	--red: #ff0000;
	--gauge: #344990;
	--gauge-green: #dffe62;
	--tp-black: rgba(0, 0, 0, 0.2);
	--deep-dark: #242C5B;
	--dark-blue: #343C82;
	--main-blue: #3D49A8;
	--light-blue: #5463C4;
	--sky-blue: #6E7DD9;

	/* font */
	/*font-size: 16px;*/
	--font-family: 'GmarketSans';
	--h0: 2.5rem;
	--h1: 2rem;
	--h2: 1.5rem;
	--h3: 1.1875rem;
	--h4: 1rem;
	--h5: 0.8125rem;
	--h6: 0.6875rem;
}

img {
	-webkit-user-drag: none;
	vertical-align: top;
	max-width: 100%;
	height: auto;
}

body {
	user-select: none;
	-webkit-user-select: none;
	background-color: var(--dark-blue);
	font-family: var(--font-family);
	color: var(--white);
}

a:link {color:white; text-decoration: none;}
a:active {color:white; text-decoration: none;}
a:visited {color:white; text-decoration: none;}
a:hover {color:white; text-decoration: none;}

header {
	display: flex;
	width: 100%;
	background-color: var(--main-blue);
}

header .logo {
	margin:auto;
	width: 100%;
	max-width: 650px;
	font-size: var(--h2);
	padding: var(--h4) var(--h5) var(--h5);
	font-weight: bold;
}

nav {
	width: 100%;
	background-color: var(--main-blue);
}

.navbar {
	margin: auto;
	max-width: 650px;
	display: flex;
	justify-content: center;
}

.navbar li {
	width: 33.33%;
}

.navbar li a {
	display: flex;
	justify-content: center;
	padding: var(--h6) 0;
	letter-spacing: 1px;
	font-size: var(--h5);
}

.navbar li a.active {
	background-color: var(--light-blue);
	box-shadow: 1px 1px 9px 0px rgba(0, 0, 0, 0.13);
	border-radius: 2px;
}

main {
	padding: 0 1%;
	margin: auto;
	max-width: 650px;
}

.ads {
	width: 100%;
	text-align: center;

}

.ad {
	width: inherit;
	max-width: 650px;
	margin: auto;
}

footer {
	display: flex;
	flex-direction: column;
	width: 100%;
	padding: 1rem;
	background-color: var(--main-blue);
}

.copyright {
	width: 100%;
	max-width: 650px;
	word-break: break-all;
	margin: auto;
	text-align: left;
	line-height: 1rem;
	font-size: 9px;
}

.hidden {
	display: none;
	visibility: hidden;
}

.line {
	width: 100%;
	height: 3px;
	margin: auto;
	border-radius: 10px 10px;
	background-color: var(--tp-black);
}

article.content {
	max-width: 650px;
	margin: auto;
	width: 100%;
}

section.filter-section {
	width: 100%;
}

.filter-section .filter {
	width: 92%;
	margin: 2% auto;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}

.filter-section .filter .filter-item {
	font-size: var(--h5);
	padding-top: var(--h6);
	padding-bottom: var(--h6);
	width: 18%;
	margin-top: 3%;
	text-align: center;
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.13);
	background-color: var(--main-blue);
	border-radius: 3px;
	letter-spacing: 0px;
	cursor: pointer;
}

.filter-section .filter .filter-item.active {
	background-color: var(--deep-dark);
	box-shadow: inset 0px 0px 5px 0px rgba(0, 0, 0, 0.13);
}

section.page-title-section {
	display: inline-block;
	vertical-align: middle;
	padding: 4% 4% 3.5%;
	width: 100%;
}

.page-title-section .page-title {
	float:left;
	font-size: var(--h3);
}

.page-title-section .filter-button {
	line-height: var(--h3);
	margin-left: 1rem;
	float:right;
	padding: 0 .7rem;
	font-size: var(--h5);
	/*color: var(--sky-blue);*/
	background-color: var(--main-blue);
	box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.13);
	border-radius: 10px;
	cursor: pointer;
}