a {text-decoration: none;}
a:link{color: white}
a:visited{color: white}
ul {list-style: none;padding-left: 0px;}

* {
	box-sizing: border-box;
}

body {
	background-color: rgb(54,52,145);
	/*background-image: url("../img/bg.jpg");*/
	/*background-repeat: no-repeat;*/
	background-position: center top;
}
.wrap {
	margin: 0px;
}
header {
	font-size: xx-large;
	text-align: center;
	background-color: rgb(63,61,181);
	padding: 10px;
	/*border: 1px solid red;*/
}
nav {
	display:flex;
	justify-content: center;
	padding: 10px;
	position: sticky;
	top:0;
	font-size: x-small;
	text-align: center;
	color: white;
	background-color: rgb(54,52,145);
	/*border: 1px solid red;*/
}

nav .selected {
	width: 100px;
	/*background-color: rgb(63,61,181);*/
	background-color: rgb(101, 117, 198);
	padding: 5px;
	margin: 3px;
	border-radius: 30px;
	/*margin: 10px;*/
}

nav .unselected {
	width: 100px;
	background-color: rgb(54,52,145);
	background-color: rgb(63,61,181);
	padding: 5px;
	margin: 3px;
	border-radius: 30px;
}
footer {
	/*width: 90%;*/
	/*position:absolute;*/
	left :0;
	bottom: 0;
	width: 100%;
	font-size: xx-small;
	text-align: center;
	/*background-color: rgb(113,72,174);*/
	background-color: rgb(63,61,181);
	/*background-color: rgba(120, 70, 180, 0.5);*/
	padding: 10px;
	color: white;
	/*border: 1px solid red;*/
}
.container {
	margin-top: 5px;
	margin-bottom: 5px;
	display: flex;
	justify-content: center;
	padding: 0px;
}
.container .left {
	min-width: 250px;
	/*text-align: left;*/
	background-color: white;
	/*border: 1px solid red;*/
	
}
.container .middle {
	max-width: 750px;
	margin: auto;
	/*border: 1px solid red;*/
}
.container .right {
	min-width: 250px;
	/*text-align: right;*/
	background-color: white;
	/*border: 1px solid red;*/
}

/*@media screen and (min-width: 850px){
	.left {
		width: 110px;
	} 
	.right {
		width: 110px;
	}
}*/

@media screen and (max-width: 849px) {
	.left {
		display: none;
	}
	.right {
		display: none;
	}
}
