{% load static %}
<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>pkm.gg</title>
	<link rel="stylesheet" href="{% static 'pokemon/main-style.css' %}">
	<link rel="stylesheet" href="{% static 'pokemon/pkm-thumbnail.css' %}">
	<link rel="stylesheet" href="{% static 'pokemon/popup.css' %}">
</head>
<body>
	<div class="wrap">
		<header>
			<!--<a href="../index.html"><img src="img/unite-logo.png" width=150></a>-->
			<a href="../index.html">pkm.gg</a>
		</header><!--header-->
		<nav>
<!--			<a href="../index.html"><div class="selected">포켓몬</div></a>
			<a href="../item.html"><div class="unselected">지닌물건</div></a>
			<a href="../news.html"><div class="unselected">패치노트</div></a>
			<a href="../news.html"><div class="unselected">빌드</div></a>
			<a href="../news.html"><div class="unselected">커뮤니티</div></a>
-->
		</nav>
		<div class="container">
			<aside class="left">광고</aside>
			<article class="middle">
				<div class="pkm_index">
					{% if latest_pkm_list %}
					{% for pkm in latest_pkm_list %}
					<div class="profile">
						<a href="{% url 'pokemon:detail' pkm.id %}">
							<img class="img_border {{pkm.type}}" src="{% static 'pokemon/img/' %}{{ pkm.img }}" alt="{{ pkm.name  }}">
						</a>
					</div>
					{% endfor %}
					{% endif %}
				</div><!--pkm_index-->
			</article>
			<aisde class="right">광고</aisde>
		</div><!--container-->
		<footer>
			pkm.gg isn’t endorsed by Nintendo and doesn’t reflect the views or opinions of
			<br>Nintendo or anyone officially involved in producing or managing Pokémon Unite.
			<br>Pokémon Unite and Pokémon are trademarks or registered trademarks of Nintendo.
			<br>© pkm.gg 2021
		</footer>
	</div><!--wrap-->
</body>
</html>
