.attacker {
	/*background-color: rgb(183, 95, 57);*/
	background-color: rgb(220, 70, 50);
}
.all-rounder {
	/*background-color: rgb(191, 105, 205);*/
	/*background-color: rgb(200, 70, 210);*/
	background-color: rgb(120, 70, 180);
}
.defender {
	/*background-color: rgb(186, 235, 113);*/
	background-color: rgb(180, 240, 80);
}
.speedster {
	/*background-color: rgb(64, 127, 173);*/
	background-color: rgb(30, 130, 230);
}
.surpporter {
	/*background-color: rgb(246, 206, 103);*/
	background-color: rgb(250, 190, 50);
}
.score-item {
	/*background-color: rgb(246, 206, 103);*/
	background-color: rgb(120, 70, 180);
}
.attack-item {
	/*background-color: rgb(246, 206, 103);*/
	background-color: rgb(220, 70, 50);
}
.defense-item {
	background-color: rgb(180, 240, 80);
}
.other-item {
	background-color: rgb(250, 190, 50);
}

.img_border {
	/*border: solid 2px rgb(101, 117, 198);*/
	border: 2px solid rgb(0, 0, 0);
	/*margin-left: 2px;
	margin-right: 2px;*/
	/*border-radius: 2px;*/
	/*border-radius: 20%20%;*/
}

#pkm_name {
	position: absolute;
	left: 0;
	bottom: 0;
	color: white;
	text-align: left;
	border-left: 5px solid red;
	background-color: black;
}
.pkm_index {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	/*position: relative;*/
	/*background-color: pink;*/
	justify-content: center;
}

.pkm_index .profile {
	display:inline-block;
	text-align: center;
	width:90px;
	height:90px;
	position: relative;
	/*border: solid 1px red;*/
}

.pkm_index img {
	width: 80px;
	height: 80px;
}

.item_index {
	display: flex;
	flex-wrap: wrap;
	margin: auto;
	/*position: relative;*/
	/*background-color: pink;*/
	justify-content: center;
}

.item_index .profile {
	display:inline-block;
	text-align: center;
	width:90px;
	height:90px;
	/*border: solid 1px red;*/
}

.item_index img {
	width: 80px;
	height: 80px;
	border-radius: 50%50%;
}

.item_index .held-item {
	display:inline-block;
	text-align: center;
	width:90px;
	height:90px;
	/*border: solid 1px red;*/
}
.item_index .battle-item {
	display:inline-block;
	text-align: center;
	width:90px;
	height:90px;
	/*border: solid 1px red;*/
}

.battle_item_img_border {
	background-color: black;
	/*border: 2px solid rgb(0, 0, 0);*/
	border-radius: 50%50%;
}
